.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 8px;
  width: 110px;
  height: 45px;
  gap: 10px;
  border: none;
}
.button img {
  width: 20px;
}
/* Primary */
.Primary.light.active{
  background: #fff;
}
.Primary.light.active label {
  color: #000000;
}
.Primary.light.active:hover {
  background: #d8e2ea;
}
.Primary.dark.active {
     background: #333333;
}
.Primary.dark.active label{
    color: #fff;
}
.Primary.dark.active:hover{
    background: #494949;
}
/* Primary disabled */
.Primary.light.disabled {
    background: #757575;
}
.Primary.light.disabled label {
    text-decoration: line-through;
}
.Primary.dark.disabled {
    background: #444444;
}
.Primary.dark.disabled label {
    text-decoration: line-through;
}
/* Secondary */
.Secondary.light.active{
    background: #858585;
}
.Secondary.light.active label{
    color: #444444;
}
.Secondary.light.active:hover{
    background: rgb(117, 117, 117) ;
}
.Secondary.light.disabled{
    background: #bbbbbb;
}
.Secondary.light.disabled label{
    text-decoration: line-through;
}