.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 8px;
  width: 110px;
  height: 45px;
  gap: 10px;
  border: none;
}
.button img {
  width: 20px;
}

.light.active{
  background: #fff;
}
.light.active label {
  color: #000000;
}
.light.active:hover {
  background: #d8e2ea;
}
.dark.active {
     background: #333333;
}
.dark.active label{
    color: #fff;
}
.dark.active:hover{
    background: #494949;
}
.light.disabled {
    background: #757575;
}
.light.disabled label {
    text-decoration: line-through;
}
.dark.disabled {
    background: #444444;
}
.dark.disabled label {
    text-decoration: line-through;
}